																					body {background: #fff; }
								 											 			 .bar a{color: #fff;  }
		.bar{background: #800; 															color:#fff;  }
ol {border-left: solid #800; 			border-left-style: double; }
body,a {			 color: #800;			}


a:hover{ color: #251493;}
 
