																					body {background: #fff; }
								 											 			 .bar a{color: #fff;  }
		.bar{background: #000; 															color:#fff;  }
ol {border-left: solid #0000; 			border-left-style: double; }
body,a {			 color: #000;			}


a:hover{ color: #ff1493;}
 
