																					body {background: #fff;  }
								 											 			 .bar a{color: #fff;  }
.bar{			background: #ff1493; 														color:#fff;  }
ol { border-left: solid #ff1493; 		 border-left-style: double;  }
body,a   {		  color: #ff1493;}


a:hover{ color: #006400;}

