																					body {background: #fff; }
								 											 			 .bar a{color: #fff;  }
		.bar{background: #ccc; 															color:#fff;  }
ol {border-left: solid #ccc; 			border-left-style: double; }
body,a {			 color: #ccc;			}


a:hover{ color: #ff1493;}
 
