																					body {background: #000;  }
								 											 			 .bar a{color: #000;  }
.bar{background:#fff; 														color:#000;  }
ol {  border-left: solid #fff; 			border-left-style: double; }
			  body,a{color: #fff; }


a:hover{ color: #ff1493;}
