																					body {background: #fff; }
								 											 			 .bar a{color: #fff;  }
		.bar{background: #006400; 															color:#fff;  }
ol {border-left: solid #006400; 			border-left-style: double; }
body,a {			 color: #006400;			}


a:hover{ color: #ff1493;}
 
