																					body {background: #fff;  }
								 											 			 .bar a{color: #fff;  }
.bar{background:			 #266596; 														color:#fff;  }
ol {  border-left: solid #266596; 			border-left-style: double; }
			  body,a{color: #266596; }


a:hover{ color: #ff1493;}

 