																					body {background: #fff; }
								 											 			 .bar a{color: #fff;  }
		.bar{background: #0099CC; 															color:#fff;  }
ol {border-left: solid #0099CC; 			border-left-style: double; }
body,a {			 color: #0099CC;			}


a:hover{ color: #251493;}
 
