																					body {background: rgba(0,0,0,0.5); }
								 											 			 .bar a{color: rgba(0,0,0,0.5);  }
		.bar{background: #fff; 															color:rgba(0,0,0,0.5);  }
ol {border-left: solid #fff; 			border-left-style: double; }
body,a {			 color: #fff;			}


a:hover{ color: #ff1493;}
 
